[Unit]
Description=NVIDIA CUDA MPS control daemon
After=nvidia-persistenced.service

[Service]
Type=forking
Environment="CUDA_MPS_PIPE_DIRECTORY=/tmp/nvidia-mps"
Environment="CUDA_MPS_LOG_DIRECTORY=/var/log/nvidia-mps"
ExecStartPre=/bin/mkdir -p /tmp/nvidia-mps /var/log/nvidia-mps
ExecStart=/usr/bin/nvidia-cuda-mps-control -d
ExecStop=/bin/sh -c 'echo quit | /usr/bin/nvidia-cuda-mps-control'
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
